@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

/* variables */
:root {
  --main-color: #46a2db;
  --second-color: #053f5f;
  --text-color: #2d6d9b;
  --bg-color: #c8e9ec;
  --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--text-color);
}

header {
  display: block;
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 8px 17px;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: flex;
}

.navbar a:hover {
  color: var(--main-color);
}



/* the button for the login */
.btn {
  padding: 8px 22px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-right: 10px; /* Add margin to the right side */
}

.btn:hover {
  background: #00a6ff;
}


/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/House3.jpg");
  height: 500px; /* or set a specific value like height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-size-adjust: 100px;
}

/*        agency section      */
.agency-container body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
}

.agency-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 100px auto; /* Center the container horizontally */
}

.agency-container .agency {
  max-width: 100%;
  overflow: hidden;
  border-radius: 3rem;
  box-shadow: var(--box-shadow);
}

.agency-container .agency img {
  width: 100%;
  height: 100%;
  border-radius: 3rem 0 3rem 3rem;
  object-fit: cover;
}

.agency-container .agency-text {
  text-align: left;
  padding: 2rem;
}

.agency-container .agency-text p {
  text-align: left;
  margin-top: 5px;
}
.agency-container .agency-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-color);
}


.btn {
  padding: 8px 22px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 1rem;
}

.btn:hover {
  background: #00a6ff;
}
